@use "../../global/variable" as *;
@use "../../global/mixin" as *;
.c-balloon {
  margin-top: 12rem;
  @include tab {
    margin: 0;
  }
  @include pc {
    margin: 1.8rem;
  }
  &__list {
    @include tab {
      margin-bottom: 5rem;
    }
  }
  &__list:last-child {
    margin-bottom: 0;
  }
  &__img-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    @include tab {
      max-width: none;
      width: 80%;
    }
    @include pc {
      width: 77%;
    }
  }
  &__img-wrapper-rev {
    @extend .c-balloon__img-wrapper;
  }
  &__img-bg {
    width: 100%;
    height: 130rem;
    display: block;
    @include tab {
      height: 24rem;
    }
    @include pc {
      height: 24rem;
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20rem 13rem 20rem 26rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: -0.5rem;
    @include tab {
      padding: 3.52rem 4rem 5.3rem 6.3rem;
      margin-top: 0;
    }
    @include pc {
      padding: 3.52rem 4rem 5.3rem 6.3rem;
      margin-top: 0;
    }
  }
  &__content-rev {
    @extend .c-balloon__content;
    padding: 20rem 26rem 20rem 13rem;
    @include tab {
      padding: 3.6rem 5.5rem 5.2rem 4.8rem;
    }
    @include pc {
      padding: 3.6rem 5.5rem 5.2rem 4.8rem;
    }
  }
  &__content-rev .c-balloon__title {
    letter-spacing: -0.08em;
  }
  &__number {
    color: $color-blue;
    font-family: DNP ShueiGoGinStd;
    font-weight: 500;
    font-size: 32rem;
    line-height: 2;
    text-align: center;
    letter-spacing: -0.042em;
    @include tab {
      color: $color-white;
      transform: translate(-15%);
      background-color: $color-blue;
      width: 14rem;
      height: 14rem;
      border-radius: 50%;
      font-family: DNP ShueiGoGinStd;
      font-weight: 600;
      font-size: 5.5rem;
      line-height: calc(72 / 64);
      letter-spacing: -0.03em;
      z-index: -2;
    }
    @include pc {
      color: $color-white;
      transform: translate(-15%);
      background-color: $color-blue;
      width: 15.4rem;
      height: 15.4rem;
      border-radius: 50%;
      font-family: DNP ShueiGoGinStd;
      font-weight: 600;
      font-size: 6.4rem;
      line-height: calc(72 / 64);
      letter-spacing: -0.03em;
      z-index: -2;
    }
  }
  &__number-reverse {
    @extend .c-balloon__number;
    @include tab {
      transform: translate(10%);
    }
  }

  &__title {
    font-weight: 400;
    font-size: 18rem;
    line-height: calc(27 / 18);
    letter-spacing: -0.05em;
    color: $color-blue;
    margin-bottom: 3rem;
    text-align: center;
    @include tab {
      font-weight: 400;
      font-size: 2.2rem;
      line-height: calc(35.24 / 25);
      letter-spacing: 0.012em;
      margin-bottom: 2.24rem;
      text-align: left;
    }
    @include pc {
      font-weight: 400;
      font-size: 2.5rem;
      line-height: calc(35.24 / 25);
      letter-spacing: 0.012em;
      margin-bottom: 2.24rem;
      text-align: left;
    }
  }
  &__text {
    font-family: DNP ShueiGoGinStd;
    font-weight: 400;
    font-size: 14rem;
    line-height: calc(18 / 14);
    letter-spacing: -0.08em;
    text-align: left;
    @include tab {
      font-size: 1.8rem;
      line-height: calc(30 / 20);
      letter-spacing: -0.08em;
    }
    @include pc {
      font-size: 2rem;
      line-height: calc(30 / 20);
      letter-spacing: -0.08em;
    }
  }
}
