@use "../../global/variable" as *;
@use "../../global/mixin" as *;
.c-title {
  font-weight: 400;
  font-size: 20rem;
  line-height: calc(23 / 20);
  letter-spacing: -0.03em;
  text-align: center;
  @include tab {
    font-size: 3rem;
    line-height: 1.13;
    text-align: left;
  }
  @include pc {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: calc(51 / 35);
    letter-spacing: -0.01em;
    text-align: center;
  }
  &__important {
    @extend .c-title;
    margin-bottom: 12rem;
    @include tab {
      text-align: left;
      margin-left: 3rem;
      margin-bottom: 1.8rem;
    }
    @include pc {
      text-align: left;
      margin-left: 3rem;
      margin-bottom: 1.8rem;
    }
  }
  &__works {
    @extend .c-title;
    @include tab {
      text-align: center;
    }
  }
  &__about {
    @extend .c-title;
    @include tab {
      text-align: left;
      margin-left: 3.1rem;
    }
  }
  &__price {
    @extend .c-title;
    @include tab {
      text-align: center;
    }
  }
  &__flow {
    @extend .c-title;
    @include tab {
      text-align: center;
    }
  }
  &__contact {
    text-align: center;
    line-height: calc(30 / 20);
    @extend .c-title;
    @include tab {
    }
  }
}
