@use "../../global/variable" as *;
@use "../../global/mixin" as *;
.c-works {
  display: none;
  @include tab {
    display: block;
    margin: 20px 0 0 0;
  }
  @include pc {
    display: block;
    margin: 1.51rem 0 0 0;
  }
  &__cat {
    margin-top: 1.57rem;
  }
  &__cat-list {
    display: none;
    @include pc {
      display: block;
      gap: 1rem;
      border-radius: 3px;
      border: 1px solid $color-blue;
      padding: 1rem;
      font-family: Noto Sans;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 100%;
      letter-spacing: 0%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__cat-title {
    display: none;
    @include pc {
      display: block;
      font-family: DNP ShueiGoGinStd;
      font-weight: 500;
      font-size: 2.2rem;
      line-height: calc(44 / 22);
    }
  }
}
.swiper-container {
  position: relative;
}
.thumbnail img,
.wp-post-image {
  width: 100%;
  height: auto;
  max-height: 300px; /* 必要に応じて高さ制限 */
  object-fit: cover; /* 切り取り風表示が必要なら */
}
.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  content: "";
  display: block;
  top: 0%;
  width: 22px;
  height: 20px;
  color: transparent;
  border-radius: 1px;
  background-color: $color-blue;
  @include pc {
    top: -65%;
    width: 4rem;
    height: 4rem;
    color: transparent;
    border-radius: 1px;
    background-color: $color-blue;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }
}
.swiper-button-next::after {
  right: -120%;
  clip-path: polygon(0 0, 70% 50%, 0 100%);
  @include tab {
    right: -170%;
  }
}
.swiper-button-prev::after {
  left: -200%;
  clip-path: polygon(0 0, 70% 50%, 0 100%);
  transform: rotate(180deg);
  @include tab {
    left: -250%;
  }
}
