@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../foundation/base" as *;
.p-404 {
  height: 600rem;
  margin: 36rem 0 0 0;
  @include tab {
    height: auto;
    margin: 3.6rem 0 0 0;
  }
  @include pc {
    height: auto;
    margin: 3.6rem 0 0 0;
  }

  &__img {
    width: 152rem;
    height: 193rem;
    margin: 53rem auto 47rem;
    @include tab {
      width: 15.2rem;
      height: 19.3rem;
      margin: 6.7rem auto 3.5rem;
    }
    @include pc {
      width: 18.3rem;
      height: 23.3rem;
      margin: 6.7rem auto 3.5rem;
    }
  }
  &__text {
    font-family: DNP ShueiGoGinStd;
    font-weight: 400;
    font-size: 12rem;
    line-height: 100%;
    letter-spacing: -0.05em;
    margin-bottom: 7rem;
    @include tab {
      font-size: 1.8rem;
      line-height: calc(36 / 18);
      margin-bottom: 1rem;
    }
    @include pc {
      font-size: 2rem;
      letter-spacing: -0.05em;
      margin-bottom: 1.2rem;
      line-height: calc(40 / 20);
    }
  }
}
