@use "../../global/variable" as *;
@use "../../global/mixin" as *;

.p-contact {
  &__form {
    margin-top: 35px;
    @include tab {
      margin-top: 40px;
    }
  }
  &__form-group {
    gap: 7px;
    margin-bottom: 35px;
    @include pc {
      margin-bottom: 5rem;
    }
  }
  &__form-group label {
    width: 100%;
    gap: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(21 / 14);
    text-align: right;
    @include tab {
      width: 32%;
      font-size: 12px;
      margin-right: 10px;
    }
    @include tab-l {
      font-size: 16px;
    }
    @include pc {
      width: 35%;
      font-size: 18px;
    }
    @include pc-l {
      font-size: 2.2rem;
    }
  }
  &__form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 14px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    @include tab {
      flex: 1;
      padding: 0.5rem;
      height: 50px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
    }
    @include pc {
      height: 60px;
    }
  }
  &__form-group-textarea {
    gap: 7px;
    margin-bottom: 22px;
    @include tab {
      resize: vertical;
      gap: 0;
      margin-bottom: 50px;
    }
  }
  &__form-group-textarea label {
    width: 100%;
    font-size: 14px;
    align-items: center;
    @include tab {
      width: 33%;
      font-size: 12px;
      margin-right: 10px;
    }
    @include tab-l {
      font-size: 14px;
    }
    @include pc {
      width: 36%;
      font-size: 18px;
    }
    @include pc-l {
      font-size: 2.2rem;
    }
  }
  &__form-group-textarea textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    @include tab {
      flex: 1;
      padding: 0.5rem;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
    }
  }
  &__privacy {
    font-size: 10px;
    margin-bottom: 11px;
    @include tab {
      margin-top: 10px;
      font-size: 20px;
      line-height: calc(40 / 20);
    }
  }
  &__privacy a {
    text-decoration: underline;
    color: $color-blue;
  }
}
.required {
  background-color: #d9534f;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 6px;
}
input[type="checkbox"] {
  display: inline-block; /* 念のため明示的に指定 */
  visibility: visible;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: 1px solid $color-black;
  background-color: #fff;
  margin-right: 3px;
  appearance: auto;
  @include tab {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
