@use "../../global/variable" as *;
@use "../../global/mixin" as *;
.p-flow {
  &__contents {
    margin: 14rem 0 0 0;
    position: relative;
    @include tab {
      margin: 8rem 0 0 0;
      padding-left: 1.8rem;
    }
  }
  &__item {
    gap: 9rem;
    position: relative;
    border-left: 2px solid $color-blue;
    margin: 0 0 3rem 10rem;
    @include tab {
      gap: 1rem;
      padding: 0;
      border-left: 2px solid $color-blue;
      margin: -1rem 0 0 0;
    }
  }

  &__item:last-child {
    border-left: none;
  }
  &__item::after {
    content: "";
    position: absolute;
    left: -7px;
    top: 100%;
    margin-top: -6rem;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid $color-blue; /* 下向き矢印 */
    @include tab {
      display: none;
    }
  }
  &__item:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.3rem;
    width: 1rem;
    height: 0.7rem; // ← 必要に応じて調整
    background-color: #fff; // 背景と同じ色にすることで、線を“隠す”
    z-index: 2;
  }
  &__item:last-child .p-flow__item-title {
    margin-bottom: 0;
    align-items: baseline;
    @include tab {
      align-items: center;
    }
  }
  &__item:last-child::after {
    display: none;
  }
  &__item-title {
    position: relative;
    margin: 0 0 0 -10rem;
    font-weight: 400;
    font-size: 16rem;
    line-height: calc(24 / 16);
    border-radius: 25px;
    padding: 1rem 18.5rem;
    letter-spacing: -0.01em;
    color: white;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tab {
      width: 23rem;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: calc(35 / 24);
      background-color: #fff;
      letter-spacing: -0.1em;
      color: $color-blue;
      display: flex;
      padding: 0 0 0 1.8rem;
      justify-content: flex-start;
      align-items: first baseline;
      margin: 0 0 10rem 0;
      position: relative;
    }
  }
  &__item:last-child .p-flow__item-title {
    padding: 0 0 0 10rem;
    @include tab {
      width: 21rem;
      padding: 0 0 0 0.5rem;
    }
  }
  &__item:nth-child(5) .p-flow__item-title {
    @include tab {
      letter-spacing: 0;
    }
  }
  &__item-title::before {
    display: none;
    @include tab {
      content: "";
      display: block;
      width: 2rem;
      height: 2rem;
      background-color: $color-blue;
      border-radius: 50%;
      flex-shrink: 0;
      margin: 0.7rem 0 0 -2.9rem;
    }
  }
  &__item:last-child .p-flow__item-title::before {
    margin: 0.2rem 0 0 -2.9rem;
  }
  &__item-last-list {
    position: relative;
    margin: 0 0 0 -10rem;
    font-weight: 400;
    font-size: 16rem;
    line-height: calc(24 / 16);
    border-radius: 25px;
    padding: 1rem 18.5rem;
    letter-spacing: -0.01em;
    color: white;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    @include tab {
      color: $color-blue;
      margin: 0 0 0 -3px;
      width: 23rem;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: calc(35 / 24);
      background-color: #fff;
      letter-spacing: -0.1em;
      color: $color-blue;
      display: flex;
      padding: 0 0 0 1.8rem;
      justify-content: flex-start;
      align-items: first baseline;
      position: relative;
    }
  }
  &__item-last-list::before {
    display: none;
  }
  &__item-text {
    font-family: DNP ShueiGoGinStd;
    font-weight: 400;
    font-size: 14rem;
    line-height: calc(19 / 14);
    padding: 9rem 0 45rem 10rem;
    letter-spacing: -0.09em;
    @include tab {
      width: 76.4%;
      font-weight: 400;
      font-size: 20px;
      line-height: calc(30 / 20);
      letter-spacing: -0.01em;
      color: $color-black;
      background-color: $color-lightblue;
      padding: 10px 14px;
    }
  }
  &__item:last-child .p-flow__item-text {
    padding: 9rem 0 0 10rem;
    @include tab {
      padding: 1rem 1.4rem;
    }
  }
  &__item-subtitle-sp {
    color: #fff;
    margin-left: -1.8rem;
    font-size: 10rem;
    @include tab {
      display: none;
    }
  }
  &__item-subtitle-pc {
    display: none;
    @include tab {
      display: block;
      color: #fff;
      font-size: 1.6rem;
      line-height: 1.36;
      color: $color-blue;
      margin-left: -9rem;
      transform: translateX(-0.5rem);
    }
  }
  &__link {
    text-decoration: underline;
    color: blue;
  }
  &__link:hover {
    opacity: 0.8;
  }
}
