@use "../../global/variable" as *;
@use "../../global/mixin" as *;
.p-main-visual {
  padding: 23rem 0 0 27rem;
  z-index: 10;
  position: relative;
  overflow-y: visible;
  @include tab {
    padding: 1.1rem 0 0rem 5rem;
    margin-bottom: 9rem;
  }
  @include tab-l {
    padding: 1.6rem 0 0 6.7rem;
  }
  @include pc {
    padding: 2.2rem 0 0rem 9.6rem;
    margin-bottom: 9rem;
  }
  &__title {
    font-weight: 400;
    font-size: 25rem;
    line-height: calc(30 / 25);
    letter-spacing: -0.13em;
    margin-bottom: 1rem;
    @include tab {
      font-size: 3.5rem;
      line-height: 1.38;
      letter-spacing: -0.1em;
    }
    @include tab-l {
      font-size: 4.5rem;
    }
    @include pc {
      font-size: 5rem;
    }
    @include pc {
      font-weight: 400;
      font-size: 5.5rem;
      line-height: calc(76 / 55);
      letter-spacing: -0.07em;
      padding-left: 1.8rem;
      margin-bottom: 1rem;
    }
  }
  &__text {
    font-family: DNP ShueiGoGinStd;
    font-weight: 500;
    font-size: 15rem;
    line-height: calc(21 / 15);
    letter-spacing: -0.14em;
    margin: 0 0 66rem 3rem;
    padding-right: 27rem;
    @include tab {
      font-size: 1.6rem;
      margin: 0 0 1.4rem 0.3rem;
      padding-right: 2.7rem;
      letter-spacing: -0.06em;
    }
    @include tab-l {
      font-size: 2rem;
    }
    @include pc {
      font-size: 2rem;
      margin: 0 0 6.2rem 0;
      padding-left: 2.6rem;
      line-height: calc(37 / 20);
    }
    @include pc-l {
      font-size: 2rem;
    }
  }
  &__type {
    @include tab {
      display: none;
    }
    @include tab-l {
      display: block;
      max-height: 800px;
      overflow-y: auto;
      font-family: "Fira Code", monospace;
      font-size: 2rem;
      line-height: 0.95;
      background: linear-gradient(
        180deg,
        rgba(80, 117, 187, 0) 0%,
        rgba(80, 117, 187, 0.2) 20%,
        rgba(80, 117, 187, 0.5) 50%,
        rgba(80, 117, 187, 0.2) 70%,
        rgba(80, 117, 187, 0) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      padding: 20rem;
      white-space: pre-wrap;
      position: absolute;
      top: 60%;
      left: 85%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      border-radius: 8rem;
      padding: 2rem;
      &::after {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1em;
        background-color: #f1f1f1;
        animation: blinking 1s infinite;
        position: absolute;
        top: 2rem;
        left: calc(20px + 0.5ch * var(--cursor-pos, 0));
      }
    }
  }
  &__skill-pc {
    display: none;
    @include tab {
      display: none;
    }
    @include pc {
      display: block;
      position: absolute;
      top: 53%;
      left: 55%;
      width: 43rem;
      height: auto;
      z-index: 10;
    }
    @include pc-l {
      top: 37%;
      left: 50%;
      width: 60rem;
    }
  }
  &__skill-pc img {
    width: 100%;
  }
  &__skill-tablet {
    display: none;
    @include tab {
      display: block;
      position: absolute;
      top: 58%;
      left: 55%;
      max-width: 100%;
      height: auto;
      z-index: 10;
    }
    @include tab-l {
      width: 32rem;
    }
    @include pc {
      display: none;
    }
  }
  &__skill-sp {
    display: block;
    position: absolute;
    top: 56%;
    left: 60%;
    width: 80rem;
    z-index: 10;
    @include tab {
      display: none;
    }
    @include pc {
      display: none;
    }
  }
  &__pc-background {
    position: absolute;
    display: block;
    top: 43%;
    left: 70%;
    width: 127rem;
    z-index: 5;
    @include tab {
      display: none;
    }
  }
  &__pc-background img {
    width: 100%;
  }
  &__skill-img {
    width: 100%;
    display: block;
    @include tab {
      width: 100%;
      height: auto;
    }
    @include pc {
      width: 100%;
      height: auto;
    }
  }
  &__screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 15rem;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    @include tab {
      border-radius: 1.5rem;
      top: 6%;
      left: 12%;
      width: 76%;
      height: 93%;
      overflow: hidden;
      z-index: 1;
    }
    @include pc {
      top: 6%;
      left: 12%;
      width: 76%;
      height: 93%;
      overflow: hidden;
      border-radius: 0.8rem;
    }
  }
  &__price {
    font-family: DNP ShueiGoGinStd;
    font-weight: 600;
    font-size: 10rem;
    line-height: calc(20 / 10);
    letter-spacing: -0.12em;
    color: $color-blue;
    @include tab {
      font-size: 1.4rem;
      line-height: 1.6;
      letter-spacing: -0.04em;
    }
    @include tab-l {
      font-size: 1.8rem;
    }
    @include pc {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
      padding-left: 3.2rem;
    }
  }
  &__price span {
    font-size: 20rem;
    line-height: calc(20 / 16);
    letter-spacing: -0.05;
    @include tab {
      font-size: 2.2rem;
      line-height: 1;
      letter-spacing: -0.1em;
    }
    @include tab-l {
      font-size: 2.4rem;
    }
    @include pc {
      font-size: 3rem;
      line-height: calc(30 / 30);
    }
  }
  &__contact {
    font-family: DNP ShueiGoGinStd;
    font-size: 10rem;
    line-height: calc(40 / 10);
    letter-spacing: 0.04em;
    margin-bottom: -10rem;
    @include tab {
      font-size: 1.8rem;
      line-height: calc(40 / 18);
      letter-spacing: -0.02em;
      margin-bottom: 0;
    }
    @include pc {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: calc(40 / 18);
      padding-left: 3.2rem;
    }
  }
}
