@use "../../global/_variable.scss" as *;
@use "../../global/_mixin.scss" as *;
.p-works .swiper-container {
  margin-top: 20rem;
  @include tab {
    margin-top: 2rem;
  }
  @include pc {
    margin-top: 6rem;
  }
}
.p-works .swiper-wrapper {
  @include tab {
    width: 100%;
    max-width: 700px;
  }
  @include pc {
    max-width: 850px;
  }
}
