@use "../global/variable" as *;
@use "../global/mixin" as *;
@use "../object/utility/text" as *;
@use "../object/utility/flex" as *;
.l-header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding: 12rem 19rem 12rem 13rem;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  @include tab {
    padding: 3rem;
  }
  &.scrolled {
    background-color: rgba(255, 255, 255, 0.95); /* 白＋透明感 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影をつけると見やすい */
  }
  &__wrapper {
    @include pc {
      padding: 3.6rem 4.5rem 0 4.5rem;
    }
  }
  &__nav {
    display: none;
    @include pc {
      display: block;
    }
  }
  &__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    @include pc {
      gap: 1rem;
    }
    @include pc-l {
      gap: 3rem;
    }
  }
  &__nav-item {
    font-family: "dnp-shuei-gothic-gin-std", sans-serif;
    font-size: 18rem;
    font-weight: 500;
    color: $color-black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-align: left;
    padding: 10rem 30rem 10rem 0;
    @include pc {
      font-size: 2rem;
      padding: 1.25rem 4rem 1.25rem 0;
      line-height: calc(45 / 20);
      padding: 1rem 3rem 1rem 0;
    }
    &:hover {
      color: $color-blue;
      transform: translateY(-2px);
    }
  }
  &__nav-item:last-child {
    padding: 1rem 0 1rem 0;
  }
  &__title {
    line-height: 1;
  }
  &__title-first {
    @extend .u-uppercase;
    font-size: 12rem;
    letter-spacing: -0.03em;
    line-height: calc(15 / 12);
    @include tab {
      font-size: 2rem;
      line-height: 1.18;
    }
    @include tab-l {
      font-size: 2.4rem;
    }
    @include pc {
      font-size: 3.2rem;
      line-height: calc(38 / 32);
      letter-spacing: -0.07em;
    }
    @include pc-l {
      font-size: 3.2rem;
    }
  }
  &__title-second {
    margin-top: 0.5rem;
    @include tab {
      margin-top: 0;
      font-size: 2rem;
      line-height: 1.18;
    }
    @include tab-l {
      font-size: 2.4rem;
    }
    @include pc {
      font-size: 3.2rem;
    }
  }
  &__title-small {
    font-size: 10rem;
    @include tab {
      font-size: 1.8rem;
    }
    @include tab-l {
      font-size: 2rem;
    }
    @include pc {
      font-size: 2.4rem;
    }
    @include pc-l {
      font-size: 3rem;
    }
  }

  &__title-link {
    text-decoration: none;
    color: inherit;
    @include tab {
      gap: 0.5rem;
    }
  }
  &__title-link:hover {
    opacity: 0.8;
  }
  &__title-bottom {
    font-size: 10rem;
    line-height: calc(13 / 10);
    color: $color-black;
    position: relative;
    display: inline-block;
    @include tab {
      font-size: 1.4rem;
      padding-left: 6rem;
    }
    @include tab-l {
      font-size: 1.6rem;
    }
    @include pc {
      padding-left: 6.7rem;
      font-size: 2rem;
      line-height: calc(25 / 20);
    }
    @include pc-l {
      font-size: 2rem;
    }
    &::before {
      content: "";
      @include tab {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 6rem;
        height: 0.1rem;
        background-color: $color-black;
        transform: translateY(-50%);
      }
      @include pc {
        width: 6.8rem;
      }
    }
  }
}
