@use "../global/variable" as *;
@use "../global/mixin" as *;
.l-main-visual {
  background-image: url("../img/mainvisual_img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  padding-top: 50rem;
  padding-bottom: 50rem;
  width: 100%;
  overflow: hidden;
  @include tab {
    background-image: url("../img/mainvisual_img_pc.png");
    padding: 6rem 0 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
  }
  @include pc {
    padding: 17.3rem 0 0 0;
  }
  &__circle-bg {
    position: absolute;
    z-index: -1;
  }
}
