@use "../global/variable" as *;
@use "../global/mixin" as *;
.l-wrapper {
  width: 100%;
  padding: 0 30rem;
  margin: 80px auto;
  @include tab {
    margin: 90vw auto;
    padding: 0 6rem;
  }
  @include tab {
    margin: 18rem auto;
    padding: 0 6rem;
  }
  &__important {
    @extend .l-wrapper;
    margin: 75px auto 40px auto;
    padding: 0 39px 0 31px;
    @include pc {
      width: 47.5%;
      padding: 0;
      overflow: visible;
    }
  }

  &__works {
    @extend .l-wrapper;
    padding: 0 53px;
    @include pc {
      width: 53.8%;
      padding: 0;
    }
  }
  &__about {
    @extend .l-wrapper;
    padding: 0 59px;
    @include pc {
      padding: 0;
      width: 106rem;
    }
  }
  &__price {
    @extend .l-wrapper;
    margin: 80rem auto 24px auto;
    @include tab {
      padding: 0;
      margin: 8rem auto;
      width: 37.7%;
      max-width: 600px;
    }
  }

  &__flow {
    width: 100%;
    margin: 82rem auto 80rem auto;
    padding: 0 18rem;
    @include tab {
      margin: 18rem auto;
      width: 65%;
      padding: 0;
    }
  }

  &__contact {
    @extend .l-wrapper;
    margin: 93rem auto 0;
    padding: 16rem 38rem 50rem 38rem;
    @include tab {
      margin: 18rem auto 0 auto;
      padding: 5.2rem 0 15rem 0;
    }
  }
}
