@use "../global/variable" as *;
@use "../global/mixin" as *;
.l-wrapper {
  width: 100%;
  padding: 0 30rem;
  margin: 80rem auto;
  @include tab {
    margin: 8rem auto;
    padding: 0 6rem;
  }
  @include pc {
    margin: 18rem auto;
    padding: 0 6rem;
  }
  &__important {
    @extend .l-wrapper;
    margin: 75rem auto 40rem auto;
    padding: 0 39rem 0 31rem;
    @include tab {
      margin: 7.5rem auto;
      width: 53rem;
      padding: 0;
      overflow: visible;
    }
    @include tab-l {
      margin: 7.5rem auto 4rem auto;
      width: 60rem;
      padding: 0;
      overflow: visible;
    }
    @include pc {
      margin: 7.5rem auto 4rem auto;
      width: 65rem;
      padding: 0;
      overflow: visible;
    }
  }

  &__works {
    @extend .l-wrapper;
    padding: 0 53rem;
    @include tab {
      width: 70%;
      padding: 0;
    }
    @include pc {
      width: 53.8%;
      padding: 0;
    }
  }
  &__about {
    @extend .l-wrapper;
    padding: 0 59rem;
    @include tab {
      padding: 0;
      width: 85%;
    }
    @include pc {
      padding: 0;
      width: 77.5%;
      max-width: 1016px;
    }
  }
  &__price {
    @extend .l-wrapper;
    margin: 80rem auto 24rem auto;
    @include tab {
      padding: 0;
      margin: 8rem auto;
      width: 50rem;
      max-width: 600px;
    }
    @include pc {
      padding: 0;
      margin: 8rem auto;
      width: 37.7%;
      max-width: 600px;
    }
  }

  &__flow {
    width: 100%;
    margin: 82rem auto 80rem auto;
    padding: 0 18rem;
    @include tab {
      margin: 8rem auto;
      width: 85%;
      padding: 0;
    }
    @include tab-l {
      width: 75%;
    }
    @include pc {
      margin: 18rem auto;
      width: 65%;
      max-width: 900px;
      padding: 0;
    }
  }

  &__contact {
    @extend .l-wrapper;
    margin: 93rem auto 0;
    padding: 38rem 38rem 50rem 38rem;
    overflow-x: hidden;
    @include tab {
      margin: 8rem auto 0 auto;
      padding: 5.2rem;
    }
    @include pc {
      margin: 18rem auto 0 auto;
    }
  }
  &__thanks {
    padding: 121rem 0 0 0;
    text-align: center;
    @include tab {
      padding: 12.1rem 0 0 0;
    }
  }
  &__404 {
    padding: 124rem 0 0 0;
    text-align: center;
    @include tab {
      padding: 18.9rem 0 0 0;
    }
  }
}
